<%- include('includes/head',{pageTitle:'an error occured'})%>
</head>
<body>
    <%- include('includes/header')  %>
<main>
    <h1>
        unauthorized
    </h1>
    <p>Unfortunately unaurhorizzed </p>
    <p><a href="/" class="btn">Back to Safety!</a></p>
</main>
<%- include('includes/footer') %>