<%- include('../../shared/includes/head',{pageTitle:'All your Orders'})%>

</head>
<body>
    <%- include('../../shared/includes/header')  %>
<main>
    <h1>
        All your orders
    </h1>
    
    </main>
<%- include('../../shared/includes/footer') %>