<%- include('../includes/head',{pageTitle:'Signup'})%>
</head>
<body>
    <%- include('../includes/header')  %>
<main>
    <h1>
        Create New Account
    </h1>
    <form action="" method="">
        <label for="email">E-mail</label>
        <input type="" id="email">
    </form>
</main>
<%- include('..includes/footer') %>